.select-item-search {
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 99;
  min-height: 6em;
  top: 7em;
  left: 0;
}

.search-item-title {
  line-height: 3em;
  padding-left: 1em;
  font-size: 13px;
  /*color: #999999;*/
}

.search-item-title1 {
  line-height: 2.5em;
  margin-top: 1em;
  padding-left: 1em;
  font-size: 13px;
  border-top: 1px solid #e6e6e6;
}

.select-start-end {
  width: 80%;
  margin-left: 10%;
  background: #f6f6f6;
  min-height: 3em;
}

.text-center {
  color: #666;
}

.date-select {
  line-height: 2em;
  text-align: center;
  display: inline-block;
  width: 40%;
  margin-left: 3%;
  margin-top: 0.5em;
  border: none;
  background: #fff;
  color: #999;

}

.date-select1 {
  float: right;
  margin-right: 3%;
}

.date-center-line {
  width: 5%;
  margin-left: 3%;
  height: 0.5em;
  display: inline-block;
  border-top: 2px solid #999999;
}

.select-item-status {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 1em;
}

.select-item-status div {
  width: 25%;
  line-height: 2.5em;
}

.select-item-status > div > span {
  padding: 0.5em 1.8em;
  font-size: 13px;
  background: #f6f6f6;
}

.bottom-sure-div {
  margin-top: 1.5em;
  color: #666;
}

.bottom-sure-div div {
  display: inline-block;
  border-radius: 2px;
  line-height: 2em;
  padding: 0 2em;
  border: 1px solid #f1f1f1;
  margin: 1em;
}

.div-btn {
  color: #fff;
  background: #5881ff;
}

.comment-content {
  width: 100%;
  background: #fff;
  min-height: 4em;
  padding: 1em 0.8em;
  margin-bottom: .2rem;
}

.comment-content > a {
  display: block;
}

.right-time {
  font-size: 12px;
  color: #999999;
  line-height: 2em;
}

.comment-title {
  font-size: .32rem;
  color: #333;
}

.this-comment-content {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  width: 100%;
}

.this-comment-content img {
  width: 1.5rem;
}

.this-comment-content > div {
  flex: 1;
  display: inline-block;
  padding-left: .2rem;
}

.this-comment-content > a div:nth-child(1) {
  display: flex;
  overflow: hidden;
}

.this-comment-content > div > span {
  width: 100%;
  font-size: .26rem;
  line-height: 1.6em;
  color: #999999;
  overflow: hidden;
}

.user-reply-div {
  display: flex;
  height: 1rem;
  align-items: center;
  margin-bottom: .1rem;
}

.black-bg {
  top: 0;
}

.user-reply-div img {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  margin-right: .2rem;
}

.user-reply-div > div {
  padding-top: .1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.show-friend {
  display: flex;
  margin-bottom: .2rem;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: .18rem;
}

.show-friend .img-div {
  border-radius: 50%;
  width: 20%;
}

.img-div img {
  border-radius: 50%;
}

.this-friend {
  flex: 1;
  padding-left: 3%;
}

.this-friend-name {
  font-size: .32rem;
}

.this-friend-content {
  line-height: 1.8em;
  font-size: .26rem;
  color: #999999;
}

.this-friend-location {
  font-size: .26rem;
  color: #5881ff;
}

.black-this-friend {
  width: 40%;
}

.friend-intro {
  margin-top: .3rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.friend-intro-title {
  line-height: 2.8em;
  height: .7rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-left: 1em;
  position: relative;
}

.friend-intro-title div {
  position: absolute;
  height: .8rem;
  color: #fff;
  bottom: 0;
  padding: 0 .3rem;
  line-height: .8rem;
  font-size: .3rem;
  display: inline-block;
}

.friend-detail-col {
  display: flex;
  line-height: 3em;
  padding-left: 1em;
}

.left-intro {
  width: 22%;
  color: #999999;
}

.left-tel-type {
  width: 15%;
  color: #999999;
}

.right-intro {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
}

.right-intro div {
  width: 30%;
}

.right-intro div > span {
  padding: 0.3em 1.3em;
  background: #f6f6f6;
}

.right-intro-div {
  height: 6em;
  margin-top: 0.6em;
  margin-right: 2em;
  background: #f6f6f6;
  width: 70%;
  padding: 0 0.5em;
}

.del-post {
  position: fixed;
  width: 100%;
  background: #fff;
  height: 3.5em;
  z-index: 99;
  bottom: 0;
  line-height: 3.5em;
  border-top: 1px solid #e6e6e6;
}

.del-post img {
  margin-left: 0.8em;
  margin-top: 0.8em;
  margin-right: 0.3em;
  float: left;
}

.del-btn {
  right: 0;

  top: 0;
  width: 25%;
  background: red;
  color: #fff;
  position: absolute;
}

.chat-list {
  width: 100%;
  display: flex;
  background: #fff;
  border-bottom: 1px solid #cccccc;
  line-height: 3em;
  min-height: 3em;
  padding-left: 1em;
  font-size: 0.30rem;
}

.chat-list img {
  margin: 0.5em 0;
  height: 2.5em;
  border-radius: 50%;
  width: 2.5em;
  margin-right: 1em;
}

.chat-list div {
  margin-top: 0.5em;
}

.get-ms-list {
  width: 75%;
  line-height: 1.5em;
  position: relative;
}


.warn-circle {
  background: red;
  border-radius: 3px;
  position: absolute;
  font-size: 0.24rem;
  color: #fff;
  /* width: 3em; */
  padding: 0.1em 0.3em;
  line-height: 1.5em;
  right: 0.5em;
  top: -0.5em;
}

.right-time {
  color: #999999;
  font-size: 12px;
}

.chatItem {
  /*padding-top: 0.88rem;*/
  /*margin-top: -0.88rem;*/
  max-height: 100%;
  margin-bottom: -0.88rem;
  position: absolute;
  top: 0.88rem;
  padding-bottom: 1.8rem;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #f9fcff;
  width: 100%;
}

.focus-input {
  opacity: 0;
  /*margin-top: 2em;*/
  position: relative;
  bottom: 0;
  width: 1px;
  height: 1px;
  left: 0;
}

.chat-msg {
  line-height: 3em;
  /*min-height: 3.5em;*/
  width: 100%;
}

.chat-msg-img {
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
  margin-left: 0;
}

.chat-msg span {
  background: #e5f4ff;
  border-radius: 3px;
  padding: 0.3em 1em;
  margin-top: 1em;
  max-width: 60%;
  line-height: 1.8em;
  min-height: 1.8em;
  word-wrap: break-word;
  overflow: hidden;
}

span{
 font-size: 0.26rem;
  /* color: #999999; */
  word-wrap: break-word;
  overflow: hidden;
}

.bottom-input {
  width: 100%;
  min-height: 3em;
  background: #e5f4ff;
  position: absolute;
  bottom: 0;
}

.bottom-input p {
  width: 60%;
  display: inline-block;
  background: #fff;
  line-height: 1.5em;
  margin: 0 0.5em;
  padding-left: 0.5em;
  font-size: 0.3rem;
  min-height: 3em;
  padding-top: 0.6em;
  max-height: 6em;
  overflow: scroll;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.bottom-input img {
  width: 1.8em;
  margin-bottom: 0.7em;
  margin-left: 0.3em;
}

.selectPic {
  margin-bottom: 0.6em;
}


.emoji-select-pic {
  /*float: right;*/
}

.bottom-input input {
  width: 1.8em;
  height: 2.8em;
  opacity: 0;
  bottom: 20%;
  position: absolute;
}

.u-editor-icon {
  height: 100%;
}

.send-btn {
  right: 0.1em;
  bottom: 0;
  position: absolute;
  width: 18%;
  line-height: 2em;
  background: #0091e4;
  color: #fff;
  margin-bottom: 0.6em;
  margin-right: 0.2em;
  text-align: center;
  border-radius: 4px;
}

.bottom-input p > img {
  width: 3em;
  height: 3em;
}

.bottom-emoji {
  width: 100%;
  height: 30%;
  background: #e5f4ff;
  position: fixed;
  bottom: 3em;
  overflow: auto;
  display: flex;
  padding: 0.5em 1em;
  flex-wrap: wrap;
}

.bottom-emoji div {
  width: 12%;
  text-align: center;
  height: auto;
}

.bottom-emoji div > img {
  width: 2em;
  height: 2em;
}


.recieve-img {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 1em;
  padding: 0;
  max-width: 80%;
  vertical-align: bottom;
}


.team-name {
  width: 100%;
  height: 3em;
  padding: 1em;
  background: #fff;
  border: none;
}


.team-detail-name {
  width: 100%;

  background: #0093d2;
  padding: 0.5em;
  color: #fff;
  font-size: 0.34rem;
  padding-bottom: 2em;
}

.team-detail-name img {
  margin-bottom: 1em;
}


.team-detail-people {
  width: 100%;
  background: #fff;
  line-height: 3em;
  padding: 0 1em;
  border-bottom: 1px solid #e6e6e6;
}

.m-right {
  width: .32rem;
}


.members-pic {
  width: 2em;
  margin-right: 0.4em;
}

.team-avatar {
  width: 4em;
}



